#
# This source file is part of the Stanford Biodesign Digital Health Group open-source organization
#
# SPDX-FileCopyrightText: 2023 Stanford University and the project authors (see CONTRIBUTORS.md)
#
# SPDX-License-Identifier: MIT
#

name: Check Links

on:
  workflow_call:
    inputs:
      runsonlabels:
        description: 'JSON-based collection of labels indicating which type of github runner should be chosen'
        required: false
        type: string
        default: '["ubuntu-latest"]'

jobs:
  markdown_link_check:
    name: Check Links
    runs-on: ${{ fromJson(inputs.runsonlabels) }}
    container: ghcr.io/puppeteer/puppeteer:latest
    steps:
      - uses: actions/checkout@v4
      - name: Check and Create Linkspector Configuration
        run: |
          CONFIG_FILE=".linkspector.yml"
          if [ ! -f "$CONFIG_FILE" ]; then
            echo "Configuration file not found. Creating a new one."
            echo "dirs:" >> $CONFIG_FILE
            echo "  - ." >> $CONFIG_FILE
            echo "useGitIgnore: true" >> $CONFIG_FILE
            echo "ignorePatterns:" >> $CONFIG_FILE
            echo "  - pattern: '^doc:.*$'" >> $CONFIG_FILE
            echo "  - pattern: '^http://localhost.*$'" >> $CONFIG_FILE
            echo "replacementPatterns:" >> $CONFIG_FILE
            echo "  - pattern: '(.*)#gh-dark-mode-only'" >> $CONFIG_FILE
            echo "    replacement: '\$1'" >> $CONFIG_FILE
            echo "  - pattern: '(.*)#gh-light-mode-only'" >> $CONFIG_FILE
            echo "    replacement: '\$1'" >> $CONFIG_FILE
          else
            echo "Configuration file exists. Skipping creation."
          fi
          echo "Contents of $CONFIG_FILE:"
          cat $CONFIG_FILE
      - name: Linkspector
        uses: umbrelladocs/action-linkspector@v1
        with:
          filter_mode: nofilter
          reporter: github-pr-annotations
          fail_level: error
    env:
      PUPPETEER_EXECUTABLE_PATH: /usr/bin/chromium
