#
# This source file is part of the Stanford Biodesign Digital Health Group open-source organization
#
# SPDX-FileCopyrightText: 2022 Stanford University and the project authors (see CONTRIBUTORS.md)
#
# SPDX-License-Identifier: MIT
#

name: Create XCFramework and Release

on:
  workflow_call:
    inputs:
      workspaceFile:
        description: 'The path of the Xcode Workspace file (including the file extension).'
        type: string
        required: true
      xcFrameworkName:
        description: 'The name of the to be created XCFramework. It must not include the default XCFramework extension ".xcframework" as the file naming is automatically done be the workflow.'
        type: string
        required: true
      scheme:
        description: 'The project scheme that should be used for the archiving process.'
        type: string
        required: true
      version:
        description: 'The version number of the XCFramework embedded in the XCArchives. This version number is also used for the release tag.'
        type: string
        required: true
      configuration:
        description: 'The build configuration to use when archiving the scheme, either Debug or Release.'
        type: string
        required: false
        default: 'Release'
      runsonlabels:
        description: 'JSON-based collection of labels indicating which type of github runner should be chosen.'
        type: string
        required: false
        default: '["macos-14"]'
      sdk:
        description: 'JSON-based collection of SDK for the exported framework. Defaults to all SDKs. You can list SDKs using `xcodebuild -showsdks`.'
        type: string
        required: false
        default: '["iphoneos", "iphonesimulator", "macosx", "appletvos", "appletvsimulator", "xros", "xrsimulator", "watchos", "watchsimulator"]'
      user:
        description: 'Optional GitHub username that is associated with the GitHub Personal Access Token (PAT)'
        type: string
        required: false
        default: ''
    secrets:
      access-token:
        description: 'GitHub Personal Access Token (PAT) if the to-be-commited-to branch is protected and needs a specific access token to push commits to the branch'
        required: false
  

jobs:
  build-xcarchive:
    name: Build XCArchive
    uses: StanfordBDHG/.github/.github/workflows/archive.yml@sdk
    with:
      workspaceFile: ${{ inputs.workspaceFile }}
      xcArchiveName: ${{ inputs.xcFrameworkName }}
      scheme: ${{ inputs.scheme }}
      version: ${{ inputs.version }}
      configuration: ${{ inputs.configuration }}
      runsonlabels: ${{ inputs.runsonlabels }}
      sdk: ${{ inputs.sdk }}
  create-xcframework-and-release:
    name: Build XCFramework
    runs-on: ${{ fromJson(inputs.runsonlabels) }}
    needs: build-xcarchive
    steps:
    - uses: actions/checkout@v4
      with:
        token: ${{ secrets.access-token || github.token }}
    - uses: maxim-lobanov/setup-xcode@v1
      with:
        xcode-version: latest-stable
    - name: Check environment
      run: |
          xcodebuild -version
          swift --version
          echo Release version: ${{ inputs.version }}
    - uses: actions/download-artifact@v3
      with:
        path: ./.build
    - name: Create XCFramework
      run: |
          rm -rf ${{ inputs.xcFrameworkName }}.xcframework
          SDKS=(${{ fromJson(inputs.sdk) }})
          FRAMEWORKS_ARGS=()
          for SDK in "${SDKS[@]}"; do
              ARCHIVE_PATH="./.build/${{ inputs.xcFrameworkName }}-${SDK}.xcarchive/Products/Library/Frameworks/${{ inputs.xcFrameworkName }}.framework"
              if [ -d "$ARCHIVE_PATH" ]; then
                  FRAMEWORKS_ARGS+=("-framework $ARCHIVE_PATH")
              else
                  echo "Warning: Archive path for SDK $SDK does not exist: $ARCHIVE_PATH"
              fi
          done
          if [ ${#FRAMEWORKS_ARGS[@]} -eq 0 ]; then
              echo "Error: No valid SDK archives found to create XCFramework."
              exit 1
          fi
          xcodebuild -create-xcframework "${FRAMEWORKS_ARGS[@]}" -output ${{ inputs.xcFrameworkName }}.xcframework
          rm -rf .build
    # - name: Commit and push XCFramework
    #   uses: EndBug/add-and-commit@v9
    #   with:
    #     add: ${{ inputs.xcFrameworkName }}.xcframework
    #     message: Create XCFramework for release ${{ inputs.version }}
    #     tag: '${{ inputs.version }} --force'
    #     tag_push: '--force'
    #     github_token: ${{ secrets.access-token || github.token }}
    #     author_name: ${{ inputs.user || github.actor }}
    #     author_email: ${{ inputs.user || github.actor }}@users.noreply.github.com
    # - name: Create Artifacts
    #   run: |
    #       tar -zcvf ${{ inputs.xcFrameworkName }}.xcframework.tar.gz ${{ inputs.xcFrameworkName }}.xcframework
    # - name: Create Release
    #   uses: softprops/action-gh-release@v1
    #   with:
    #     tag_name: ${{ inputs.version }}
    #     generate_release_notes: true
    #     fail_on_unmatched_files: true
    #     files: ${{ inputs.xcFrameworkName }}.xcframework.tar.gz
